[push]
  default = simple
[user]
  name = Albin Mattsson
  email = albin@mattsson.io
  signkey = 3293E330
  signingKey = 3293E330
[core]
  excludesfile = /Users/albin/.gitignore-global
  editor = vim
  pager = diff-so-fancy | less --tabs=4 -RFX
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[alias]
  rmm = ! git branch --merged | grep -v \"\\*\" | grep -v master | xargs -n 1 git branch -d
  lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  up = pull --prune
  st = !git config --global commit.gpgsign false && git stash -k -u && git config --global commit.gpgsign true
  fresh = !git checkout master && git up && git rmm
  alias = config --get-regexp '^alias\\.'
  up-master = !export branch_name=$(git symbolic-ref -q HEAD | sed 's/^refs\\/heads\\///' | sed 's/^$/HEAD/') && git checkout master && git up && git checkout "$branch_name"
[commit]
  gpgsign = true
[gpg]
  program = gpg2
[credential]
  helper = osxkeychain
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
